<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="Arqus.Arqus">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="25" />
	<application android:label="Arqus" android:theme="@style/MyTheme"></application>
</manifest>