<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="se.qualisys.magnum.viewfinder" android:versionName="2.0" android:versionCode="16">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="25" />
	<application android:label="Arqus" android:theme="@style/MyTheme" android:icon="@drawable/ic_launcher"></application>
</manifest>